
.topicListContainer {
padding: 20px;
  display: flex row;
  margin-left: 35%;
  width: 25%;
  /* border: black 1px solid; */
  margin-top: 1%;
}

.listItemContainer {
  margin-top: 2%;
  margin-left: 2%;
}


.createButton {
  position: absolute;
  width: 10%;
  padding: 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: white;
  background-color: black;
  border-radius: 5px;
}

.form {
  margin-top: 5%;
  margin-left: 37%;
}

.input {
  height: 45px;
  margin-right: 3%;
  width: 20%;
}


.vote {
  margin-left: -3%;
  margin-top: 4%;
}

.voteUp {
  width: 4%;
  margin-left: 3%;
}

.voteDown {
  width: 4%;
    margin-left: 3%;
}

.counter {
  font-size: 10px;
  margin-left: 2%;
}

h1 {
  font-size: 20px;
  color: black;
}
